{% extends 'base.html.twig' %}

{% block header_title %}<h2 style="color: #45637d; margin-top: 20px">Créer un utilisateur</h2>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}

    <div class="form-group row">
        <div class"col">
            <div class="col-lg-8">
        {{ form_start(form, {'action' : path('app_user_create')}) }}
		
            {{ form_widget(form) }}
  
            <button type="submit" class="btn btn-success pull-right btn-form">Ajouter</button>
        {{ form_end(form) }}
            </div>
        </div>
    </div>
    
{% endblock %}
